# Verification
Let users verify themselves to get access to the server.

## Setup
1. Use `/mod settings` to get started.
2. You can choose between three verification methods:
    - **Button**: Users can click a button to get verified.
    - **Multiple Buttons**: Users need to select the correct button to get verified.
    - **Modal**: Users need to enter a code in a modal form.
3. Choose a role that users will receive upon successful verification.

## Suspicious Users
Optionally, you can enable verification only for suspicious users.

- You can also choose to send a log message or assign a role when a suspicious user joins the server.

!!! tip "Define Suspicious Users"
    You can choose the following criteria to determine suspicious users:
    
    - New accounts (created within the past X days)
    - Accounts without a profile picture
    - Accounts with suspicious usernames, e.g., usernames ending in random numbers
